.productCard {
    max-width:200px;
    margin:10px;
    display: inline-block;
}

.productImage {
    height:150px;
}

/* make the Add to Cart button width 100%*/
.addToCartButton {  
    width: 100%;
    background-color:#acacac;
}

.quantityUpdate {
    width:100%;
    display:inline;
}

.productQuantity {
    margin-left: 40px;
    margin-right: 20px;
}

.plusMinusButtons {
    min-width: 5px;
}