<md-card [ngClass]="{'mat-elevation-z10':isHoveredOverCard}" 
    (mouseover)="isHoveredOverCard = true" 
    (mouseout)="isHoveredOverCard = false" 
    class="productCard">
    <img md-card-image [src]="product.imageUrl" alt="Image goes here" class="productImage"/>
    <md-card-content>
        <h4>{{product.title}}</h4>
        <p>{{product.price | currency:'USD':true}}</p>

        <!-- Card Footer-->
        <md-card-actions *ngIf="showActionButtons && shoppingCart">
            <button *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
                (click)="addToShoppingCart()" md-raised-button 
                class="addToCartButton"
            >Add to Cart</button>
            <ng-template #updateQuantity>
                <app-product-quantity
                    [product]="product"
                    [shoppingCart]="shoppingCart">
                </app-product-quantity>
            </ng-template>
        </md-card-actions>
    </md-card-content>
</md-card>