<!-- Loading Spinner-->
<md-spinner *ngIf="isLoading; else mainContent" color="primary" class="loadingSpinner"></md-spinner>

<!-- Container for product filtering and displaying products-->
<ng-template #mainContent>
    <app-product-filter (categoryChange)="filterProducts($event)"></app-product-filter>
    
    <!-- Display Products-->
    <ng-container *ngFor="let eachProduct of filteredProducts">
        <app-product-card
            [product]="eachProduct" 
            [showActionButtons]="true"
            [shoppingCart]="shoppingCart">
        </app-product-card>
    </ng-container>
</ng-template>



    
                 
   




