.productCard {
    max-width:200px;
    margin:10px;
    display: inline-block;
}

.productImage {
    height:150px;
}
/* make the Add to Cart button width 100%*/
.mat-card-header {
    display:block;
}

.addToCartButton {
    width: 100%;
}