<md-card class="productCard mat-elevation-z8">
    <img md-card-image [src]="product.imageUrl" alt="Image goes here" class="productImage"/>
    <md-card-content>
        <h4>{{product.title}}</h4>
        <p>{{product.price | currency:'USD':true}}</p>
        <md-card-header>
            <md-card-actions *ngIf="showActionButtons">
                <button (click)="addToShoppingCart(product)" md-raised-button color="warn" 
                class="eShopButton addToCartButton">Add to Cart</button>
            </md-card-actions>
        </md-card-header>
    </md-card-content>
</md-card>