<md-toolbar color="warn">
  <button routerLink="/" class="eShopButton" md-button>eShop</button>

  <span class="someSpace"></span>

  <md-menu #dropDownMenu> <!-- TODO: use ngFor to display links once routing is set up-->
    <button routerLink="my-orders" md-menu-item>My Orders</button>
    <button routerLink="admin/orders" md-menu-item>Admin Orders</button>
    <button routerLink="admin/products" md-menu-item>Admin Products</button>
    <button (click)="logout()" md-menu-item>Log Out</button>
  </md-menu>

  <button [mdMenuTriggerFor]="dropDownMenu" md-icon-button>
    <i class="material-icons">arrow_drop_down_circle</i>
  </button>
</md-toolbar>