<md-toolbar color="warn">
  <button routerLink="/" md-button class="appToolbarButton">eShop</button>
  
  <button routerLink="/shopping-cart" md-icon-button>
    <i class="material-icons">shopping_cart</i>
  </button>
  <span class="someSpace"></span>
  
  <md-menu #dropDownMenu> <!-- TODO: use ngFor to display links once routing is set up-->
    <button routerLink="/my/orders" md-menu-item>My Orders</button>
    <ng-container *ngIf="appUser && appUser.isAdmin">
      <button routerLink="/admin/orders" md-menu-item>Manage Orders</button>
      <button routerLink="/admin/products" md-menu-item>Manage Products</button>
    </ng-container>
    <button (click)="logout()" md-menu-item>Log Out</button>
  </md-menu>

  <ng-template #anonymousUser>
    <button routerLink="/login" md-button class="appToolbarButton">Login</button>
  </ng-template>
  
  
  
  <div *ngIf="appUser; else anonymousUser">{{appUser.name}}</div>

  <button [mdMenuTriggerFor]="dropDownMenu" md-icon-button>
    <i class="material-icons">arrow_drop_down_circle</i>
  </button>
</md-toolbar>