<h1>Shopping Cart</h1>

<ng-container *ngIf="shoppingCart$ |async as shoppingCart">
    <p>You have {{shoppingCart.getTotalNumberOfItems()}} items in your shopping cart.</p>
    
    <div class="tableWrapper mat-elevation-z8">
        <!-- mdSort directive is here just to apply some css, no sorting!-->
        <table mdSort>
            <thead>
                <tr>
                    <th></th> <!-- just a placement for product thumbnail-->
                    <th md-sort-header="product">Product</th>
                    <th md-sort-header="quantity">Quantity</th>
                    <th md-sort-header="price">Price</th>
                </tr>
            </thead>
    
            <tbody>
                <tr *ngFor="let eachItem of shoppingCart.items">
                    <td>
                        <div [style.backgroundImage]="'url(' + eachItem.imageUrl + ')'" class="itemThumbnail"></div>
                    </td>
                    <td>{{eachItem.title}}</td>
                    <td>
                        <product-quantity
                            [product]="eachItem"
                            [shoppingCart]="shoppingCart">
                        </product-quantity>
                    </td>
                    <td>{{eachItem.getTotalPrice() | currency:"USD":true}}</td>
                </tr>
            </tbody>
            <br>
            <tfoot>
                <tr>
                    <td></td> <!-- just a placement for product thumbnail-->
                    <td></td>
                    <td></td>
                    <td class="totalPrice">
                        Total: {{shoppingCart.getTotalPrice() | currency:"USD":true}}
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
    <br>
    <button (click)="clearShoppingCart()" md-raised-button color="accent">Clear Shopping Cart</button>
</ng-container>
