<form class="productForm">
  <table class="formSection">
    <tr>
      <td>
        <md-form-field color="warn" class="formSection">
          <input type="text" mdInput placeholder="Title">
        </md-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <md-form-field color="warn" class="formSection">
          <input type="number" mdInput placeholder="Price">
        </md-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <md-select placeholder="Category" class="formSection">
          <md-option>test1</md-option>
          <md-option>test 2</md-option>
          <md-option>test 3</md-option>
        </md-select>
      </td>
    </tr>
  </table>
</form>