<form [formGroup]="newProductForm" (ngSubmit)="addNewProduct($event)" class="productForm">
  <table class="formSection">
    <tr>
      <td>
        <md-form-field color="warn" class="formSection">
          <input formControlName="title" type="text" name="title" mdInput placeholder="Title"/>
        </md-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <md-form-field color="warn" class="formSection">
          <input formControlName="price" type="number" name="price" mdInput placeholder="Price ($)"/>
        </md-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <md-select formControlName="category" name="category" color="warn" placeholder="Category" class="formSection">
          <md-option *ngFor="let eachCategory of allCategories" [value]="eachCategory.$key">
            {{eachCategory.name}}
          </md-option>
        </md-select>
      </td>
    </tr>

    <tr>
      <td>
        <md-form-field color="warn" class="formSection">
          <input formControlName="imageUrl" type="text" name="imageUrl" mdInput placeholder="Image URL"/>
        </md-form-field>
      </td>
    </tr>

    <tr>
      <td>
        <button [disabled]="!newProductForm.valid" md-button color="warn" class="eShopButton">Create Product</button>
      </td>
    </tr>
  </table>
</form>