<ng-container *ngIf="shoppingCart && shoppingCart.items.length > 0; else noItemsToDisplay">
     <!-- Order Summary-->
    <div class="groupItems">
        <shopping-cart-summary [shoppingCart]="shoppingCart"></shopping-cart-summary>
    </div>

    <!-- Shipping Form-->
    <div class="groupItems">
        <shipping-form [shoppingCart]="shoppingCart"></shipping-form>            
    </div>

</ng-container>

<ng-template #noItemsToDisplay>
    <p>You have no items to check out.</p>
</ng-template>



        
