<p>
    <a routerLink="/admin/products/new" md-raised-button color="accent">Add new product</a>
</p>

<!-- wrapper for table -->
<div class="tableWrapper mat-elevation-z8">

    <!-- user search -->
    <div class="userSearch">
        <md-form-field color="accent">
            <input #userSearchInput mdInput placeholder="Search..."/>
        </md-form-field>
    </div>

    <!-- products table -->
    <table mdSort (mdSortChange)="sortData($event)">
        <!-- Table columns -->
        <tr>
            <th md-sort-header="title">Title</th>
            <th md-sort-header="price">Price</th>
        </tr>

        <!-- display filtered products -->
        <tr *ngFor="let eachProduct of filteredProducts">
            <td>{{eachProduct.title}}</td>
            <td>${{eachProduct.price}}</td>
            <td>
                <a [routerLink]="['/admin/products/', eachProduct.$key]" md-button color="accent">Edit</a>
            </td>
        </tr>
    </table>

    <!-- Paginator -->
    <md-paginator
        [length]="allProducts.length"
        [pageSize]="5"
        [pageSizeOptions]="[5,10,25,100]"
        (page)="filterProducts()">
    </md-paginator>
</div>


