<p>
    <a routerLink="/admin/products/new" md-button color="warn" class="eShopButton">New Product</a>
</p>

<div class="tableWrapper mat-elevation-z8">
    <div class="tableFilter">
        <md-form-field color="warn">
            <input #userSearchInput mdInput placeholder="Search..."/>
        </md-form-field>
    </div>

    <!-- Angular Material table for displaying products -->
    <md-table [dataSource]="mdTableDataSource" mdSort>

        <!-- Title column -->
        <ng-container mdColumnDef="title">
            <md-header-cell *mdHeaderCellDef md-sort-header>Title</md-header-cell>
            <md-cell *mdCellDef="let row"> {{row.title}} </md-cell>
        </ng-container>

        <!-- Price column -->
        <ng-container mdColumnDef="price">
            <md-header-cell *mdHeaderCellDef md-sort-header>Price</md-header-cell>
            <md-cell *mdCellDef="let row">${{row.price}}</md-cell>
        </ng-container>

        <!-- Edit column -->
        <ng-container mdColumnDef="edit">
            <md-header-cell *mdHeaderCellDef md-sort-header></md-header-cell>
            <md-cell *mdCellDef="let row">
                <a [routerLink]="['/admin/products/',row.$key]" md-button color="warn">Edit</a>
            </md-cell>
        </ng-container>

        <!-- Setting up rows and columns -->
        <md-header-row *mdHeaderRowDef="mdTableDisplayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: mdTableDisplayedColumns;"></md-row>
    </md-table>

    <!-- Angular Material Paginator -->
    <md-paginator #paginator
        color="warn"
        [length]="mdTableDataSource.allProducts.length"
        [pageIndex]="0"
        [pageSize]="5"
        [pageSizeOptions]="[5,10,25,100]">
    </md-paginator>

</div>


