.tableWrapper {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    max-width: 600px;
}

.tableFilter {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
    max-width:100%;
}

.mat-header-cell{
    font-size: 20px;
}

.mat-cell{
    font-size: 20px;
}

a.mat-button{
    font-size: 20px;
}

