.loadingSpinner{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
/* when screen width is less than 800px*/
/* @media(max-width:800px){
    .productWrapper{
      width:200px;
      display: inline-block;
    }
}

@media(max-width:500px){
    .productWrapper{
        width:100%;
        margin-left:0px;
    }
}

@media(max-width:400px){
    .productWrapper{
        width:100%;
    }
} */