<!-- Loading Spinner-->
<md-spinner *ngIf="isLoading; else mainContent" color="warn" class="loadingSpinner"></md-spinner>

<!-- Container for product filtering and displaying products-->
<ng-template #mainContent>
    <product-filter (categoryChange)="filterProducts($event)"></product-filter>
    
    <!-- Display Products-->
    <ng-container *ngFor="let eachProduct of filteredProducts">
        <product-card
        [product]="eachProduct" 
        [showActionButtons]="true"
        [shoppingCart]="shoppingCart"></product-card>
    </ng-container>
</ng-template>



    
                 
   




