/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.mat-toolbar {
z-index:1000;
margin-top:-80px;
margin-left:-8px;
position: fixed;
}

/* the container for each component that's rendered.*/
.container{
    font-family:"Roboto",Helvetica,sans-serif;
    font-size:20px;
    margin-top:80px;
    margin-left:20px;
}

@media(max-width:650px) {
    .container {
        margin-left: 0px;
    }
}

/* errorMessage class is applied to any div element for form validation errors*/
.errorMessage{
    color:#ff0000;
    font-size: 16px;
}
/* change the font-size of every md-button and md-raised-button*/
.mat-button, .mat-raised-button {
    font-size: 20px;
}

.tableWrapper {
    min-width: 320px;
    max-width: 800px;
    overflow: auto;
}
table{
    width:100%;
}

/* mat-card class is applied automatically to all md-card throughout app*/
.mat-card{
    max-width:500px;
}
/* mat-card-content class is applied automatically to all md-card-content throughout app*/
.mat-card-content{
    font-size:20px;
}
/* mat-select class is applied automatically to all md-select throughout app*/
.mat-select{
    width:100%;
}
.mat-select-trigger{
    font-size: 20px;
}
.mat-select-value-text{
    font-size: 20px;
}
/* mat-form-field is applied automatically to all md-form-field throughout app*/
.mat-form-field{
     width:100%;
     max-width: 500px;
}